<div class="widget search" id="widgetfb38ecdd-5813-4d10-8c5f-8d901c7c731e">
  <div class="widget-content">
      <div id="searchbox">
        <label for="txt-fb38ecdd-5813-4d10-8c5f-8d901c7c731e" style="display:none">Search</label>
        <input type="text"
          placeholder="請輸入搜尋關鍵字" accesskey="s"
          (keyup)="onKeyUp($event)"
          (copy)="onCopy($event)"

          [(ngModel)]="keyword"

          ><input type="button" value="搜尋" id="searchbutton">
          <input type="button" value="清除" (click)="clearKeyword()">
          {{ keyword }}
      </div>
  </div>
</div>
